@{
    ViewBag.Title = "CommentFeed";
}

<h2>Ship It Maybe</h2>

<p>
At Yammer, the analytics team tries to identify what features are successful, and then have our product and engineering teams do more of what is working and less of what is not. The easiest way to figure out whether a feature is successful is to define key performance indicators (KPIs), create an experiment with random assignment (a split test or an A/B test), and validate the results. Almost every feature, even ones where we have made large investments, goes though A/B testing before it gets released to all our users. After we’ve identified an improvement—in both an economic sense (the absolute lift versus the control) and a statistical sense (the statistical significance)—we roll out the feature: we ship it.
</p>
<p>
    At a recent company event, the 80’s cover band took a break from Prince, Soft Cell, and Tiffany, and played a more modern classic: “Call Me Maybe”. The dance floor erupted. The song is inescapable, but almost universally likeable (and even if you hate it, deep down you probably like it). Perhaps the best feature of the song is its ease of parody (I got inspired by the Cookie Monster parody – You got cookie, so share it maybe).
</p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/0R3aBwcDtwU" frameborder="0" allowfullscreen></iframe>
<p>
I wrote down an analytics parody that plays off our propensity to A/B test. I called it “Ship It Maybe” because, narrowly defined, my team’s job is to get the numbers and figure out what to ship. I thought up some lyrics related to my day-to-day statistical work, where I’m constantly being asked about distributions and p-values. For example, “I threw a wish in the well” became “I know a curve it’s a bell”. A lot of the words are easy to rhyme, but some are a bit of a stretch; “Your stare” was replaced by “Chi Square,” and “And all the other boys, try to chase me” became “And all the data noise, tries to raise p”. I just wanted to geek out and capture some of what is cool about big data.
</p>
<p>
Soon, the lyrics were written (luckily, many of the verses repeat). But I needed to put a video together so that I could show it on Hack Day. My idea was to edit the video on the day where everyone else was hacking, and then show it during the presentations (when the alcohol would be flowing). The first piece of candid advice I got was from a team member, who told me I needed to not be the singer; he recommended I ask Joyce on the QA team. It turns out Joyce does indeed have a killer voice, but she’s also a perfectionist – this line has too many syllables, I didn’t have the timing right, this lyric doesn’t make sense. We refined the song together, and, after seven takes, we had a soundtrack.
</p>
<p>
Bubba, our Director of Creative Services, told me that I’d need to get a lot of footage to make a video – at least ten times the video length. So, I decided to shoot people around the office on my phone (unbeknownst to them I was putting together a music video). Sometimes I had to provoke them into doing something funny, but often their reactions to me sticking a camera in their face while they were hacking were sufficiently wacky.
</p>
<p>After putting the video together, it debuted at our Winter 2012 Hack Day and received a standing ovation. So whether you’re a data nerd or not, please enjoy the video, and sing along!
</p>
<h3>Comments</h3>
<script data-app-id="hyB2pTvrL36Y50py8EWj6A"
        src="https://assets.yammer.com/platform/yam.js"></script>

<script>yam.connect.embedFeed({
    container: "#og-feed",
    feedType: "open-graph",
    config: {
        header: false
    }
});
</script>

<div id="og-feed"></div>