@{
    ViewBag.Title = "Philly Code Camp 2013.1";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about Yammer Platform &amp; APIs visit
                <a href="http://developer.yammer.com" title="ASP.NET MVC Website">http://developer.yammer.com</a>.
                The page features <mark>documentation and SDKs</mark> to help you get the most from the Yammer Platform.
                If you have any questions about the Yammer platform join the
                <a href="https://www.yammer.com/yammerdevelopersnetwork/" title="Yammer Developers Network">Yammer Developers Network</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Yammer provides embeddable JavaScript widgets that display a snapshot of a specified feed and function as a scaled-down version of Yammer. These
        are simple to embed in any HTML application, and a great way to get started with Yammer.
        <a href="https://developer.yammer.com/connect/">Learn more…</a>
    </li>

    <li class="two">
        <h5>Drive engagement with Open Graph</h5>
        Open Graph (OG), a light weight data integration protocol, is used to define the activity which is posted to Yammer as an OG object. It also enables
        conversations around specific business objects.
        <a href="https://developer.yammer.com/opengraph/">Learn more…</a>
    </li>

    <li class="three">
        <h5>Develop powerful solutions with the REST API</h5>
        The REST API provides access to Yammer data from the messages to users. Dive in once you have a firm grasp of OAuth.
        <a href="https://developer.yammer.com/restapi/">Learn more…</a>
</ol>
